.word-guess {
    text-align: center;

}
h2 {
    font-size: 4em;
}

#display-word {
    font-size: 3em;

}

.tries {
    font-size: 2em;
}

input {
    margin: 2px;
    padding: 2px;
    font-size: 2em;
}
